@model CreateRoleViewModel
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5>Yeni Rol Oluşturma Sayfası</h5>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form method="post" asp-controller="Role" asp-action="CreateRole">
                <div class="form-group">
                    <label style="font-weight: bold;">Rol Adını Giriniz</label>
                    <input type="text" class="form-control" asp-for="RoleName" />
                </div>
                <br />
                <button class="btn btn-primary">Rolü Ekle</button>
            </form>
        </div>
    </div>
</div>