<section class="footer-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-banner-item set-bg" data-setbg="https://i.pinimg.com/originals/c5/fd/66/c5fd661b26352d114ad87f6146918ee0.jpg">
                    <span>Yeni Üyeler</span>
                    <h2>İki ders ücretsiz</h2>
                    <p>Hedeflerinize ulaşmak için eğitim seanslarını bizimle tamamlayın.</p>
                    <a href="/Contact/Index/" class="primary-btn">Hemen Başla</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer-banner-item set-bg" data-setbg="https://wallpaperaccess.com/full/5234177.png">
                    <span>Bizimle İletişime Geç</span>
                    <h2>09 746 204</h2>
                    <p>Yolculuğunuzda bize güveniyorsanız, acesgymm sizi hayal kırıklığına uğratmaz!</p>
                    <a href="/Contact/Index/" class="primary-btn">Hemen Başla</a>
                </div>
            </div>
        </div>
    </div>
</section>
