<section class="services-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="services-pic">
                    <img src="~/Gym/img/services/service-pic.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service-items">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="services-item bg-gray">
                                <img src="~/Gym/img/services/service-icon-1.png" alt="">
                                <h4>Hedefler</h4>
                                <p>
                                    Birlikte hedeflerimize ulaşmak için kararlı adımlarla ilerliyor, ve her gün engelleri aşarak biraz daha yaklaşıyoruz.
                                </p>
                            </div>
                            <div class="services-item bg-gray pd-b">
                                <img src="~/Gym/img/services/service-icon-3.png" alt="">
                                <h4>Sıkı Çalışma</h4>
                                <p>
                                    Sıkı çalışma, hedeflerimize ulaşmada anahtar rol oynar.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="services-item">
                                <img src="~/Gym/img/services/service-icon-2.png" alt="">
                                <h4>Egzersizler</h4>
                                <p>
                                    Takım halinde yaptığımız her egzersiz, sadece vücudumuzu değil, ruhumuzu da daha mutlu kılar.
                                </p>
                            </div>
                            <div class="services-item pd-b">
                                <img src="~/Gym/img/services/service-icon-4.png" alt="">
                                <h4>Sağlık Beslenme</h4>
                                <p>
                                    Sağlıklı beslenme, başarılı yolculuğun temelidir.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
