<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Başarı Hikayeleriniz</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="testimonial-slider owl-carousel">
                    <div class="testimonial-item">
                        <p>
                            Uzun yıllar boyunca kilo verme mücadelesi verdim ve hiçbir şey işe yaramadı. Ancak ACESGYM'in Antrenörleri ile çalıştıktan sonra, sonunda istediğim kiloya ulaştım. Daha sağlıklı bir yaşam tarzını benimsememe yardımcı oldular ve şimdi hayatımın kontrolünü elime aldım.
                        </p>
                        <div class="ti-pic">
                            <img src="~/Gym/img/testimonial/testimonial-1.jpg" alt="">
                            <div class="quote">
                                <img src="~/Gym/img/testimonial/quote-left.png" alt="">
                            </div>
                        </div>
                        <div class="ti-author">
                            <h4>Nazlı Çelik</h4>
                            <span>Üye</span>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p>
                            Her adımda beni destekleyen bir ekiple birlikte, son altı ay içinde 20 kilo verdim ve hayatımın her alanında daha mutlu ve sağlıklı hissediyorum. Daha önce düşündüğüm gibi zor değildi, yeter ki doğru destek ve motivasyonu bulabilsin.
                        </p>
                        <div class="ti-pic">
                            <img src="https://yandex-images.clstorage.net/FqD9e7370/cfe455xPvMVT/C2aOUHVKpDGbwjudJUBtnGePP7AJqBRhJwg1ehficjz_HGp0LecJ-FV0X2l9s42InEhJAOqsmXsRTdR4_mzxth8CSmREv1FViibfXVXQLGjWW7-0eG000Fa4xZpyxJSLzU4Mw_vw3p_30EtteQJYuGxYLaRPCXm65Sln209MhlFbNZ2yYxjGU56iyryWYVyJBjxcZ7uMROBjWwB9xmcW-89ufCH5gw-exGA6vv5hWDr_SI6TvXmq7vX4hFgbDjeRCpWs8HNYpjHP8omvt1NdipcMH-f7f3ZTgAti7UbXhxqfb73j-bBvzcfiS11PkTpL75kcEZ1aGnxmGddI-47Es4l07jBjCkTiT5M7_ERDrgi2bHzUC5100UAK0B2EticbLcx8MihRPc9UUXktn0JpmP7r71BcKyjMRtnHSPl9dLHJpT_iMfsWEO_AiB9kg09bxTxcF9icl7FCyONPlWT3m4wcbEHoYPw8VYIKjC2CqkmcuP1yfmn5XvTKlIvqHbUBmbZNghNZNWIOI1jNZXJsCnfNrJbKrwdzkZjw3cRUNgjdzl8Ti7N-bEZhaO5NUziIrbhtcywICA1VSMbbGRx246sWzWJAi9Vi_9KrzLUivXp1vs1Ue_8mslJKku2GZvVrrY7uYWnADE5WcLsMb8H4m4ybHMOuKzpPlWlFCNheloEIVt_icQoUwv3Ti72UoC06thxuhlq9dLLxS6E-FNZ1-q99XHGKwe-fh8Nrfz1Qm9vvSmzBznm5TYbp5ks6LbWwGRTfsEGaFRKfcrs-5TN-SPUPDEW6HuXRkBtC7nS0Rxn-Db-TegCPvyRB2H2fcmj4LngPsv3quQ70iMbKe771AHkGz2EjeTdjj8I7vddAHFvU7M22WY2X0EOYQt33dyYJ_T5ccRugz083E4ksPNNLqM74L7P8Ofu8NTp2eBpv1HOIdQ9SEuskA4-AubxFkE1oBV_MB1g-9oFCSUBeI alt="">
                            <div class="quote">
                                <img src="~/Gym/img/testimonial/quote-left.png" alt="">
                            </div>
                        </div>
                        <div class="ti-author">
                            <h4>Ahmet Şen</h4>
                            <span>Üye</span>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p>
                            Sadece kilo vermekle kalmadım, aynı zamanda vücudumun gücünü ve dayanıklılığını artırdım. Kendimi daha enerjik ve canlı hissediyorum.
                        </p>
                        <div class="ti-pic">
                            <img src="https://yandex-images.clstorage.net/FqD9e7370/cfe455xPvMVT/C2aOUHVKpDGbwjudJUBtnGePP7AJqBRhJwg1HyfXNyzqfHpEjedJmBVxX2w4pq3I6T0pAJ8sjGuRDREt_jz0JnpySmRkn2HlOkbPXVXQLGjWW7-0eG000Fa4xZpyxJSLzU4Mw_vw3p_30EtteQJYuGxYLaRPCXm65Sln209MhlFbNZ2yYxjGU56iyryWYVyJBjxcZ7uMROBjWwB9xmcW-89ufCH5gw-exGA6vv5hWDr_SI6TvXmq7vX4hFgbDjeRCpWs8HNYpjHP8omvt1NdipcMH-f7f3ZTgAti7UbXhxqfb73j-bBvzcfiS11PkTpL75kcEZ1aGnxmGddI-47Es4l07jBjCkTiT5M7_ERDrgi2bHzUC5100UAK0B2EticbLcx8MihRPc9UUXktn0JpmP7r71BcKyjMRtnHSPl9dLHJpT_iMfsWEO_AiB9kg09bxTxcF9icl7FCyONPlWT3m4wcbEHoYPw8VYIKjC2CqkmcuP1yfmn5XvTKlIvqHbUBmbZNghNZNWIOI1jNZXJsCnfNrJbKrwdzkZjw3cRUNgjdzl8Ti7N-bEZhaO5NUziIrbhtcywICA1VSMbbGRx246sWzWJAi9Vi_9KrzLUivXp1vs1Ue_8mslJKku2GZvVrrY7uYWnADE5WcLsMb8H4m4ybHMOuKzpPlWlFCNheloEIVt_icQoUwv3Ti72UoC06thxuhlq9dLLxS6E-FNZ1-q99XHGKwe-fh8Nrfz1Qm9vvSmzBznm5TYbp5ks6LbWwGRTfsEGaFRKfcrs-5TN-SPUPDEW6HuXRkBtC7nS0Rxn-Db-TegCPvyRB2H2fcmj4LngPsv3quQ70iMbKe771AHkGz2EjeTdjj8I7vddAHFvU7M22WY2X0EOYQt33dyYJ_T5ccRugz083E4ksPNNLqM74L7P8Ofu8NTp2eBpv1HOIdQ9SEuskA4-AubxFkE1oBV_MB1g-9oFCSUBeI">
                            <div class="quote">
                                <img src="~/Gym/img/testimonial/quote-left.png" alt="">
                            </div>
                        </div>
                        <div class="ti-author">
                            <h4>İlayda Yılmaz</h4>
                            <span>Üye</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>