@model UserRegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Üye Kayıt Sayfası</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/register/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/register/css/style.css">
    <style>
        .image-holder {
            text-align: center;
            margin-top: 100px;
        }

            .image-holder img {
                display: inline-block;
            }
    </style>
</head>
<body>
    <div class="wrapper" style="">
        <div class="inner">
            <div class="image-holder">
                <img src="https://images.ctfassets.net/v6ivjcl8qjz2/6b5Q66MiftGxnJYNF85k3M/e41f0d3ea80c6d3226b3047a490b13c4/personal-services-environmental-only-gym-002-700x450-_2x.png?fit=scale&fm=webp" alt="">
            </div>
            <form asp-controller="Login" asp-action="Register" method="post">
                <h3>Üye Kayıt Sayfası</h3>
                <div class="form-group">
                    <input asp-for="Name" type="text" placeholder="Adınız" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>

                    <input asp-for="Surname" type="text" placeholder="SoyAdınız" class="form-control">
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-wrapper">
                    <input asp-for="UserName" type="text" placeholder="Kullanıcı Adınız" class="form-control">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                    <i class="zmdi zmdi-account"></i>
                </div>
                <div class="form-wrapper">
                    <input asp-for="Email" type="text" placeholder="Email Adresiniz" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <i class="zmdi zmdi-email"></i>
                </div>
                <div class="form-wrapper">
                    <input asp-for="Password" type="password" placeholder="Şifreniz" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <div class="form-wrapper">
                    <input asp-for="ConfirmPassword" type="password" placeholder="Şifre Tekrar" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <div class="form-group">
                    <input asp-for="Branch" type="hidden" placeholder="Branch" class="form-control">@* //Kullanıcı Branch null olacak. Böylelikle, TrainerId atanması gerçekleşmeyecek.*@
                </div>
                <button type="submit">Kayıt Ol</button>
            </form>

        </div>
    </div>
</body>
</html>
