################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BootcampProjectGymWeb/FileContentIndex/03034731-ea8d-4a3f-a40a-b53e32fd293e.vsidx
