################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BootcampProjectGymWeb/FileContentIndex/03034731-ea8d-4a3f-a40a-b53e32fd293e.vsidx
/.vs/BootcampProjectGymWeb/FileContentIndex/c7d36cf8-21d9-4202-abf1-1335b72b9544.vsidx
/.vs/BootcampProjectGymWeb/FileContentIndex/c7d36cf8-21d9-4202-abf1-1335b72b9544.vsidx
/.vs/BootcampProjectGymWeb/FileContentIndex/733f264d-bac8-460c-80d4-83de9c8b1b03.vsidx
/.vs/BootcampProjectGymWeb/FileContentIndex/27b6fef3-f023-4206-9ef7-a0631455b603.vsidx
/.vs/BootcampProjectGymWeb/FileContentIndex/a66ef403-77e3-4039-8b8d-d79499652dd8.vsidx
/.vs/BootcampProjectGymWeb/FileContentIndex
