################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BootcampProjectGymWeb/FileContentIndex/03034731-ea8d-4a3f-a40a-b53e32fd293e.vsidx
/.vs/BootcampProjectGymWeb/FileContentIndex/c7d36cf8-21d9-4202-abf1-1335b72b9544.vsidx
/.vs/BootcampProjectGymWeb/FileContentIndex/c7d36cf8-21d9-4202-abf1-1335b72b9544.vsidx
