@model List<Class>
@{
    ViewData["Title"] = "GetAllClass";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered" style="text-align: center; vertical-align: middle;">
                <thead>
                    <tr>
                        <th colspan="3" style="text-align: left; font-size: 20px">Haftanın Dersleri</th>
                    </tr>
                    <tr>
                        <th>Ders</th>
                        <th>Gün</th>
                        <th>Başlagıç Saati</th>
                        <th>Bitiş Saati</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Day</td>
                            <td>@item.StartClass</td>
                            <td>@item.FinishClass</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="container">
                <div class="row justify-content-center" >
                    <a class="btn btn-success" href="/Classes/Index">Ders Kaydı İçin Siteye Git</a>
                </div>
            </div>
        </div>
    </div>
</div>


