<aside class="py-4 sidebar">
    <div class="container">
        <h4 class="sidebar-heading" style="text-align: center;">Menü</h4>
        <ul class="nav flex-column">
            <li class="nav-item"><a href="/Admin/Dashboard/Index" class="nav-link">Dashboard</a></li>
            <li class="nav-item"><a href="/Admin/Trainer/ListTrainers" class="nav-link">Antrenörler</a></li>
            <li class="nav-item"><a href="/Admin/Users/ListUsers" class="nav-link">Üyeler</a></li>
            <li class="nav-item"><a href="/Admin/Story/Index" class="nav-link">Başarı Hikayeleri</a></li>
            <li class="nav-item"><a href="/Admin/Trainings/ListTrainings" class="nav-link">Antrenmanlar</a></li>
            <li class="nav-item"><a href="/Admin/Classes/ListClasses" class="nav-link">Haftalık Dersler</a></li>
            <li class="nav-item"><a href="/Admin/Category/Index" class="nav-link">Branşlar</a></li>
            <li class="nav-item"><a href="/Admin/Role/UsersList" class="nav-link">Hesap İşlemleri</a></li>
            <li class="nav-item"><a href="/Admin/Role/Index" class="nav-link">Kullanıcı Hareketleri</a></li>
            <li class="nav-item"><a href="/Default/Index" class="nav-link" style="background-color: mediumseagreen;">Siteye Git</a></li>
            <li class="nav-item"><a href="/Login/Logout" class="nav-link" style="background-color: indianred;">Çıkış Yap</a></li>
        </ul>
    </div>
</aside>