<section class="about-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-pic">
                    <img src="~/Gym/img/about-pic.jpg" alt="">
                    <a href="https://www.youtube.com/watch?v=SlPhMPnQ58k" class="play-btn video-popup">
                        <img src="img/play.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div style="text-align: center;">
                    <h2>Hakkımızda</h2>
                    <hr style="width: 50%; margin-top: 10px;">
                    <p class="first-para" style="font-size: 27px;">
                        Spor Dünyası'nda sizlerle bir araya gelmekten mutluluk duyuyoruz. Aramıza katılın ve sporun tadını çıkarın!
                    </p>
                    <a href="/About/Index" class="primary-btn" style="font-size: 16px;">Devamını Oku...</a>
                </div>
            </div>
        </div>
    </div>
</section>
