<section class="footer-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="footer-banner-item set-bg" data-setbg="https://i.pinimg.com/originals/c5/fd/66/c5fd661b26352d114ad87f6146918ee0.jpg">
                    <span style="font-size: 35px;">Yeni Üyeler</span>
                    <h2 style="font-size: 30px;">İki ders ücretsiz</h2>
                    <p style="font-size: 25px;">Hedeflerinize ulaşmak için kayıt olun.</p>
                    <a href="/Contact/Index/" class="primary-btn" style="font-size: 16px;">Hemen Başla</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer-banner-item set-bg" data-setbg="https://wallpaperaccess.com/full/5234177.png">
                    <span style="font-size: 35px;">Bizimle İletişime Geç</span>
                    <h2 style="font-size: 30px;">09 746 204</h2>
                    <p style="font-size: 25px;">Yolculuğunuzda bize güvenin.</p>
                    <a href="/Contact/Index/" class="primary-btn" style="font-size: 16px;">Hemen Başla</a>
                </div>
            </div>
        </div>
    </div>
</section>
