<footer class="footer py-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p style="font-size: 12px; font-weight: bold; color: white;">&copy; 2024 ACESGYM  Tüm hakları saklıdır.</p>
            </div>
        </div>
    </div>
</footer>