<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <!-- Kullanıcı Paneli -->
        <a class="navbar-brand" href="#">Kullanıcı Paneli</a>
        <!-- Kullanıcı Bilgileri -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <!-- Kullanıcı Fotoğrafı -->
                    <a class="nav-link" href="#">
                        <img src="avatar.png" alt="Avatar" class="avatar">
                        <span class="user-name">Kullanıcı Adı Soyadı</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
