<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Kullanıcı Paneli</a>
        <div class="mx-auto">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search" style="width: 300px;">
                <button class="btn btn-outline-light" type="submit">Ara</button>
            </form>
        </div>
    </div>
</nav>
