
<div class="list-group" style="height: 340px; overflow-y: auto;">
    <a href="/Member/Dashboard/Index" class="list-group-item list-group-item-action active">
        <i class="fas fa-tachometer-alt" style="margin-right: 40px;"></i>
        Dashboard
    </a>
    <a href="/Member/Class/ListAllClass" class="list-group-item list-group-item-action">
        <i class="fas fa-book" style="margin-right: 40px;"></i>
        Dersler
    </a>
    <a href="/Member/Class/ListSelectedClass" class="list-group-item list-group-item-action">
        <i class="fas fa-book" style="margin-right: 40px;"></i>
        Kayıtlı Ders
    </a>
    <a href="/Member/Class/ListSelectedClass" class="list-group-item list-group-item-action">
        <i class="fas fa-book" style="margin-right: 40px;"></i>
        Kişisel Antreman 
    </a>
    <a href="/Member/Profile/Index" class="list-group-item list-group-item-action">
        <i class="fas fa-book" style="margin-right: 40px;"></i>
        Profil
    </a>
    <a href="/Member/Comment/Index" class="list-group-item list-group-item-action">
        <i class="fas fa-comments" style="margin-right: 40px;"></i>
        Yorumlar
    </a>
    <a href="/Default/Index/" class="list-group-item list-group-item-action" style="background-color: #28a745; color: white;">
        <i class="fas fa-globe" style="margin-right: 40px;"></i>
        Siteye Git
    </a>
    <a href="/Login/Logout" class="list-group-item list-group-item-action" style="background-color: #dc3545; color: white;">
        <i class="fas fa-sign-out-alt" style="margin-right: 40px;"></i>
        Çıkış Yap
    </a>
</div>
