@model Story

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/IULayout.cshtml";
}

<body>
    <section class="breadcrumb-section set-bg" data-setbg="https://americanalarm.net/wp-content/uploads/2020/07/American-Alarm-Contact.jpg" style="background-size: cover; background-position: center; height: 650px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text" style="margin-top: -55px;">
                        <h2>İLETİŞİM</h2>
                        <div class="breadcrumb-option">
                            <a href="./index.html"><i class="fa fa-home"></i>Ana Sayfa</a>
                            <span>İletişim</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Map Section Begin -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24112.92132811736!2d-74.20651812810036!3d40.93514309648714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2fda38587e887%3A0xf03207815e338a0d!2sHaledon%2C%20NJ%2007508%2C%20USA!5e0!3m2!1sen!2sbd!4v1578120776078!5m2!1sen!2sbd"
                height="612" style="border:0;" allowfullscreen=""></iframe>
        <img src="~/Gym/img/icon/location.png" alt="">
    </div>
    <!-- Map Section End -->
    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-info">
                        <h4 style="text-align: center;">BİZE ULAŞIN</h4>   
                        <div class="contact-address">
                            <div class="ca-widget">
                                <div class="cw-icon">
                                    <img src="~/Gym/img/icon/icon-1.png" alt="">
                                </div>
                                <div class="cw-text">
                                    <h5>Lokasyon</h5>
                                    <a href="https://www.youtube.com/watch?v=zi0-9F7O9sE">Link</a>
                                </div>
                            </div>
                            <div class="ca-widget">
                                <div class="cw-icon">
                                    <img src="~/Gym/img/icon/icon-2.png" alt="">
                                </div>
                                <div class="cw-text">
                                    <h5>Telefen:</h5>
                                    <p>+65 11 188 888</p>
                                </div>
                            </div>
                            <div class="ca-widget">
                                <div class="cw-icon">
                                    <img src="~/Gym/img/icon/icon-3.png" alt="">
                                </div>
                                <div class="cw-text">
                                    <h5>Mail</h5>
                                    <p>acesgymm@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="contact-form">
                        <h4 style="text-align: center;">HİKAYENİZİ PAYLAŞIN</h4>
                        <hr style="margin-top: -40px; margin-bottom: 20px;" />
                        <br>
                        <div style="text-align: center;">
                            <h6>Sayfamızda dolaşan spor tutkunlarına ilham olmak için, başarı hikayenizden kısaca bahsedin!</h6>
                        </div>
                        <br />
                        <br />
                        <form asp-action="Index" asp-controller="Contact">
                            @if (User.Identity.IsAuthenticated)
                            {

                            @inject Microsoft.AspNetCore.Identity.UserManager<AppUser> appUser
                                var user = await appUser.FindByNameAsync(User.Identity.Name);
                                @if (user.EmailConfirmed == true)
                                {
                                    <input type="hidden" name="AppUserId" value="@appUser.GetUserId(User)">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <textarea name="Description"></textarea>
                                            <div style="text-align: center;">
                                                <button class="col-lg-12 text-center" type="submit" style="margin-top: -50px; margin-bottom: 40px;">Gönder</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div style="text-align: center;">
                                        <hr />
                                        <p class="text-danger">Hikayenizi bizimle paylaşmadan önce mail kodunuzu doğrulayınız... :)</p>
                                        <p class="text-danger">Mailinizi doğrulamak için <a asp-controller="ConfirmMail" asp-action="Index">linke tıklayınız.</a></p>
                                        <hr />
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="section-title">
                                    <p>Hikayenizi paylaşmadan önce lütfen giriş yapınız.</p>
                                </div>
                            }
                        </form>
                    </div>
                </div>


            </div>
    </section>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>

