<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-option">
                    <span>Telefon</span>
                    <p>(123) 118 9999 - (123) 118 9999</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="contact-option">
                <span>Email</span>
                <p>acesgymm@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="subscribe-option set-bg" data-setbg="https://avatars.mds.yandex.net/i?id=b2295984bad1f5170c2cb796baefbe9ed52693fd-10718767-images-thumbs&n=13">
        <div class="so-text">
            <h4>Bize mail atarak öneri ve şikayetlerinizi bildirebilrsiniz</h4>
            <p>Kampanyalarımızdan yararlanmak için kayıt olun</p>
        </div>
        <form action="#" class="subscribe-form">
            <input type="text" placeholder="Mail Adresinizi Girin">
            <button type="submit"><i class="fa fa-send"></i></button>
        </form>
    </div>
    <div class="copyright-text">
        <p>&copy;<p>
            ACESGYMM &copy;<script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        </p></p>
        <div class="footer-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
        </div>
    </div>
</footer>