<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gutim Template">
    <meta name="keywords" content="Gutim, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> | ACESGYMM | </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-Gvpg8+z1L7I+UGy9pguMZOsj8dS3AX5PKo7woMMzjbHc3wphYAW9Sf4FHyh1eG2Q43GeMjO5dBYItF1xZYwMSg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Gym/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Gym/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Gym/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Gym/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Gym/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Gym/css/style.css" type="text/css">

</head>