<header class="header-section">
    <div class="container">
        <div class="logo" style="position: absolute; top: -20px; left: 150px;">
            <a href="/Default/Index">
                <img src="~/Gym/img/acesloggo.png" alt="" style="width: 80px; height: auto;">
            </a>
        </div>
        <div class="nav-menu">
            @if (User.Identity.IsAuthenticated)
            {
            @inject Microsoft.AspNetCore.Identity.UserManager<AppUser> appUser
                var user = await appUser.FindByNameAsync(User.Identity.Name);

                <nav class="mainmenu mobile-menu">
                    <ul>
                        @if (user.Status == true)
                        {
                            <li><a asp-area="Accessible" asp-controller="Default" asp-action="AccessibleMode">Ana Sayfa</a></li>
                        }
                        else
                        {
                            <li class="active"><a href="/Default/Index">Ana Sayfa</a></li>
                        }
                        <li><a href="/Classes/Index/">Dersler</a></li>
                        @if (user.Status == true)
                        {
                            <li><a asp-area="Accessible" asp-controller="Blogs" asp-action="AcccessibleBlogIndex">Bloglar</a></li>
                        }
                        else
                        {
                            <li><a href="/Blogs/Index/">Bloglar</a></li>
                        }
                        <li><a href="/Trainers/Index/">Antrenörler</a></li>
                        <li><a href="/About/Index/">Hakkımızda</a></li>
                        <li><a href="/Contact/Index/">İletişim</a></li>
                    </ul>
                </nav>
            }
            <nav class="mainmenu mobile-menu">
                <ul>
                    <li>
                        @*   -------------------- Erişilebilir Mod Butonu ------------------------- *@

                        @if (User.Identity.IsAuthenticated)
                        {
                        @inject Microsoft.AspNetCore.Identity.UserManager<AppUser> appUser
                            var user = await appUser.FindByNameAsync(User.Identity.Name);
                            @if (user.Status == null)
                            {
                                <form asp-area="Accessible" asp-controller="Default" asp-action="AccessibleMode" method="post">
                                    <button type="submit" class="btn btn-primary">Erişilebilir Mod</button>
                                </form>

                            }
                            @if (user.Status == true)
                            {
                                <form asp-area="" asp-controller="Default" asp-action="AccessibleMode" method="post">
                                    <button type="submit" class="btn btn-primary">Erişilebilir Mod</button>
                                </form>

                            }
                            @if (user.Status == false)
                            {
                                <form asp-area="Area" asp-controller="Default" asp-action="AccessibleMode" method="post">
                                    <button type="submit" class="btn btn-primary">Erişilebilir Mod</button>
                                </form>

                            }
                        }
                        @*   ------------------------------------------------------------------------- *@
                    </li>
                </ul>
            </nav>
            <nav class="mainmenu mobile-menu">
                <ul>
                    <li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                        <li><a asp-area="" asp-controller="Login" asp-action="SignIn"> | Giriş Yap | </a></li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                    @inject Microsoft.AspNetCore.Identity.UserManager<AppUser> appUser
                            var user = await appUser.FindByNameAsync(User.Identity.Name);
                            if (user.Branch == null && user.TrainerId == null && !User.IsInRole("Admin"))
                            {
                            <li><a asp-area="Member" asp-controller="Dashboard" asp-action="Index"> | Profilim | </a></li>
                            <li><a asp-area="" asp-controller="Login" asp-action="Logout"> | Çıkış Yap | </a></li>
                            }
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                    @inject Microsoft.AspNetCore.Identity.UserManager<AppUser> appUser
                            var user = await appUser.FindByNameAsync(User.Identity.Name);

                            if (User.IsInRole("Admin"))
                            {

                            <li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index"> | Profilim | </a></li>
                            <li><a asp-area="" asp-controller="Login" asp-action="Logout"> | Çıkış Yap | </a></li>
                            }
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                    @inject Microsoft.AspNetCore.Identity.UserManager<AppUser> appUser
                            var user = await appUser.FindByNameAsync(User.Identity.Name);

                            if (user.TrainerId != null && user.Branch != null)
                            {

                            <li><a asp-area="Trainer" asp-controller="Dashboard" asp-action="Index"> | Profilim | </a></li>
                            <li><a asp-area="" asp-controller="Login" asp-action="Logout"> | Çıkış Yap | </a></li>
                            }
                        }
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="mobile-menu-wrap"></div>
</header>
