<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gutim Template">
    <meta name="keywords" content="Gutim, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gutim | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Gym/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Gym/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Gym/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Gym/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Gym/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Gym/css/style.css" type="text/css">
</head>