<header class="header-section">
    <div class="container">
        <div class="logo">
            <a href="~/Gym/./index.html">
                <img src="~/Gym/img/logo.png" alt="">
            </a>
        </div>
        <div class="nav-menu">
            <nav class="mainmenu mobile-menu">
                <ul>
                    <li class="active"><a href="/Default/Index/">Ana Sayfa</a></li>
                    <li><a href="/Classes/Index/">Dersler</a></li>
                    <li><a href="/Blogs/Index/">Bloglar</a></li>
                    <li><a href="/Trainer/Index/">Antrenörler</a></li>
                    <li><a href="/About/Index/">Hakkımızda</a></li>
                    <li><a href="./contact.html">İletişim</a></li>
                </ul>
            </nav>
            <a href="#" class="primary-btn signup-btn">Erişilebilir Kıl</a>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>