@model AppUser
<header class="header-section">
    <div class="container">
        <div class="logo" style="position: absolute; top: 10px; left: 150px;">
            <a href="/Default/Index/">
                <img src="~/Gym/img/acesloggo.png" alt="" style="width: 100px; height: auto;">
            </a>
        </div>
        <div class="nav-menu">
            <nav class="mainmenu mobile-menu">
                <ul>
                    <li class="active"><a href="/Default/Index/">Ana Sayfa</a></li>
                    <li><a href="/Classes/Index/">Dersler</a></li>
                    <li><a href="/Blogs/Index/">Bloglar</a></li>
                    <li><a href="/Trainers/Index/">Antrenörler</a></li>
                    <li><a href="/About/Index/">Hakkımızda</a></li>
                    <li><a href="/Contact/Index/">İletişim</a></li>
                </ul>
            </nav>

            <a href="#" class="primary-btn signup-btn" style="margin-right: 30px;">Erişilebilir Kıl</a>

            <nav class="mainmenu mobile-menu">
                <ul>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-controller="Login" asp-action="SignIn">Giriş Yap</a></li>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {

                        <li><a asp-area="" asp-controller="" asp-action="">Profilim</a></li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        if(Model.TrainerId != null && Model.Branch != null)
                        {
                            //Verilen değerler null değilse, Trainer profiline yönlendirilecek. 
                            <li><a asp-area="Trainer" asp-controller="Dashboard" asp-action="Index">Profilim</a></li>
                        }
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                    
                        <li><a asp-area="" asp-controller="Login" asp-action="SignIn">Çıkış Yap</a></li>
                    }

                </ul>
            </nav>
        </div>
    </div>
    <div id="mobile-menu-wrap"></div>
</header>
