<section class="hero-section set-bg" data-setbg="https://wallpapers.com/images/hd/nature-4k-hdapuxny79ad3rev.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="hero-text">
                    <span>FITNESS ELEMENTS</span>
                    <h1>BMI CALCULATOR</h1>
                    <p>Gutim comes packed with the user-friendly BMI Calculator<br /> shortcode which lets</p>
                    <a href="#" class="primary-btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>