@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/IULayout.cshtml";
}

<head>
    <style>
        .single-blog-item img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<section class="breadcrumb-section set-bg" data-setbg="https://anthropo-logiques.org/wp-content/uploads/2020/11/banner-autheur.jpg" style="background-size: auto; background-position: center top; height: 600px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text" style="margin-top: 160px;">
                    <h2>Bloglar</h2>
                    <div class="breadcrumb-option">
                        <a href="./index.html"><i class="fa fa-home"></i>Ana Sayfa</a>
                        <span>Bloglar</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<body>
    <div class="row" style="margin-top: 70px;">
        <div class="col-lg-12">

            <ul class="gallery-controls">

                <li class="active" data-filter="">Tüm Bloglar</li>
                @foreach (var category in ViewBag.Categories)
                {
                    <li data-filter=".category-@(category.Id)">@category.Name</li>

                }
                <hr style="width: 650px; margin-top: 10px; margin-bottom: 20px; border-color: #000000;">

            </ul>
        </div>
    </div>

    <section class="blog-section spad">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 single-blog-item category-@(item.Category.Id)">
                        <img src="/BlogImages/@item.CoverImage" alt="">
                        <div class="blog-widget">
                            <div class="bw-date">@item.CreateDate</div>
                            <a href="/Blogs/@item.CategoryId" class="tag">#@item.Category.Name</a>
                        </div>
                        <h4><a href="/Blogs/BlogDetails/@item.Id">@item.LoginTitle</a></h4>
                    </div>
                }
            </div>
        </div>
    </section>

</body>
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.gallery-controls li').on('click', function () {
                var filter = $(this).data('filter');
                if (filter === '') {
                    $('.single-blog-item').show();
                    $('.gallery-controls li').removeClass('active');
                    $(this).addClass('active');
                } else {
                    $('.single-blog-item').hide();
                    $(filter).show();
                    $('.gallery-controls li').removeClass('active');
                    $(this).addClass('active');
                }
            });
        });
    </script>
}
