@model MemberEditViewModel

@{
    ViewData["Title"] = "Profil Güncelleme Sayfası";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header bg-light text-dark text-center" style="font-size: 24px; ">Profil Güncelleme Sayfası</div> <!-- Yazı boyutu ve kalınlığı artırıldı -->
                <div class="card-body">
                    <form method="post" asp-controller="Profile" asp-action="Index" enctype="multipart/form-data" class="row g-3">
                        <div class="col-md-6">
                            <label for="Name" class="form-label">İsim</label>
                            <input class="form-control" id="Name" type="text" asp-for="Name">
                        </div>
                        <div class="col-md-6">
                            <label for="Surname" class="form-label">Soyisim</label>
                            <input class="form-control" id="Surname" type="text" asp-for="Surname">
                        </div>
                        <div class="form-group file-upload">
                            <label>Resim Yükle</label>
                            <br />
                            <div class="input-group">
                                <input type="file" asp-for="Image" class="form-control" />
                                <span class="file-upload-icon"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="Gender" class="form-label">Cinsiyet</label>
                            <input class="form-control" id="Gender" type="text" asp-for="Gender">
                        </div>
                        <div class="col-md-6">
                            <label for="Age" class="form-label">Yaş</label>
                            <input class="form-control" id="Age" type="text" asp-for="Age">
                        </div>
                        <div class="col-md-6">
                            <label for="Kilo" class="form-label">Kilo</label>
                            <input class="form-control" id="Kilo" type="text" asp-for="Kilo">
                        </div>
                        <div class="col-md-6">
                            <label for="Height" class="form-label">Boy</label>
                            <input class="form-control" id="Height" type="text" asp-for="Height">
                        </div>
                        <div class="col-md-6">
                            <label for="Password" class="form-label">Şifre</label>
                            <input class="form-control" id="Password" type="password" asp-for="Password" placeholder="******************">
                        </div>
                        <div class="col-md-6">
                            <label for="ConfirmPassword" class="form-label">Şifre Tekrar</label>
                            <input class="form-control" id="ConfirmPassword" type="password" asp-for="Confirmpassword" placeholder="******************">
                        </div>
                        <div class="col-12 text-center mt-3">
                            <button class="btn btn-success" type="submit">Güncelle</button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
