@model ConfirmViewModel
@{
    Layout = null;
}


@if (User.Identity.IsAuthenticated)
{
    @inject Microsoft.AspNetCore.Identity.UserManager<AppUser> UserManager

    var user = await UserManager.GetUserAsync(User);

    @if (user.Id == null)
    {
        <h2>Kullanıcı girişi yapmadan bu sayfaya erişemezsiniz. <a href="/Login/SignIn/">Giriş Yap</a>|<a href="/Login/Register/">Kaydol</a> </h2>
    }
    @if (user.EmailConfirmed == true)
    {
        <h2>Mail doğrulama işleminiz tamamlandı. <a href="/Default/Index">Ana Sayfaya Dön</a> </h2>
    }
    else
    {
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <style>
            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                flex-direction: column;
                background-image: url('background.jpg'); /* Arka plan resmi */
                background-size: cover;
                background-position: center;
            }

            .btn-primary {
                background-color: orange;
                border-color: orange;
            }

            .email-input {
                margin-bottom: 20px;
            }

            .footer-text {
                margin-top: 20px;
                font-size: 18px;
                color: white;
            }
        </style>
        <div class="container">
            <p class="text-black" style="font-weight: bold; font-size: 20px;">
             Mail adresinize gelen doğrulama kodunu giriniz:
            </p>
            <form method="post">
                <div class="email-input">
                    <label for="confirmationCode">Doğrulama Kodu:</label>
                    <input type="text" class="form-control" id="confirmationCode" asp-for="ConfirmCode" />
                </div>
                <div style="display: flex; justify-content: center;">
                    <button type="submit" class="btn btn-primary">Hesabı Aktifleştir</button>
                </div>
            </form>
            <br />
            <p class="text-success" style="font-weight: bold;">
                | Sağlıkla kalın! |
            </p>
            <br />
            <br />
            <div class="col-md-12  text-center">
                <p style="font-size: 12px; font-weight: bold; color: darkorange;">&copy; 2024 ACESGYM  Tüm hakları saklıdır.</p>
            </div>
        </div>

    }
}
else
{
    <h2>Kullanıcı girişi yapmadan bu sayfaya erişemezsiniz. <a href="/Login/SignIn/">Giriş Yap</a>|<a href="/Login/Register/">Kaydol</a> </h2>
}
