
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/IULayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gutim Template">
    <meta name="keywords" content="Gutim, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Gym/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Gym//font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Gym/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Gym/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Gym/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Gym/css/style.css" type="text/css">
</head>

<body>

    <section class="breadcrumb-section set-bg" data-setbg="https://pulse.peerfit.com/hubfs/Imported_Blog_Media/bigstock-166808021.jpg" style="background-size: auto cover; background-position: center ; height: 450px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text" style="margin-top: 80px;">
                        <h2>Hakkımızda</h2>
                        <div class="breadcrumb-option">
                            <a href="./index.html"><i class="fa fa-home"></i>Ana Sayfa</a>
                            <span>Hakkımızda</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- About Section Begin -->
    <section class="about-section about-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-pic">
                        <img src="~/Gym/abouttrainer.jpg" alt="">
                        <a href="https://www.youtube.com/watch?v=SlPhMPnQ58k" class="play-btn video-popup">
                            <img src="img/play.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>Hakkımızda</h2>
                        <p class="first-para">
                            Sevgili Ziyaretçilerimiz,

                            Sizleri sağlıklı yaşam yolculuğunuzda desteklemek için buradayız! Spor yapmak ve aktif kalmak, herkes için önemlidir. Ancak, herkesin farklı ihtiyaçları olduğunu anlıyor ve burada tüm ziyaretçilerimizin rahat ve keyifli bir deneyim yaşamasını sağlamak için çalışıyoruz.
                        </p>
                        <p class="second-para">
                            Biz, erişilebilirlik ve kapsayıcılığı ön planda tutan bir spor salonuyuz. Herkesin, fiziksel yeteneklerine ve engellilik durumlarına bakılmaksızın burada egzersiz yapabileceğini sağlamak için çaba gösteriyoruz. Sağlık ve refah, her bireyin hakkıdır ve biz bu hakkı destekliyoruz.
                        </p>

                        <div class="at-author">
                            <h4>Kadir Liçina</h4>
                            <span>CEO - Founder</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->
    <!-- About Counter Section Begin -->
    <div class="about-counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about-counter-text">
                        <div class="single-counter">
                            <h1 class="counter-num count">14</h1>
                            <p>Lokasyon</p>
                        </div>
                        <div class="single-counter">
                            <h1 class="counter-num count">1</h1>
                            <span>k+</span>
                            <p>Üyemiz</p>
                        </div>
                        <div class="single-counter">
                            <h1 class="counter-num count">50</h1>
                            <p>Antrenör</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Counter Section End -->
    <!-- Gym Award Section Begin -->
    <section class="gym-award spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="award-text">
                        <h2>EN İYİ SPOR SALONU ÖDÜLÜ</h2>
                        <p>
                            Değerli Ziyaretçilerimiz,

                            Büyük gurur ve heyecanla sizlere duyurmak isteriz ki, sizin desteğiniz ve katkınızla ACESGYM olarak "En İyi Spor Salonu" ödülünü kazandık! Bu ödül, bizim için sadece bir onur değil, aynı zamanda sizlere sunduğumuz kaliteli hizmetin bir teyidi ve motivasyon kaynağıdır.
                        </p>
                        <p>
                            Bu özel ödül, bize gösterdiğiniz güven ve sadakatin bir ifadesidir. Siz değerli ziyaretçilerimizin desteği olmadan, bu başarıya ulaşamazdık. İşte sizlerin bize olan güveni ve desteğiyle kazandığımız bu ödül, bizim için çok daha anlamlı hale geliyor.Bundan sonra da sizlere daha iyi hizmet sunabilmek için çalışmaya devam edeceğiz.
                            Sağlıklı ve mutlu günler dileriz.

                                                                                                
                        </p>
                        <p>  -ACESGYMM Ekibi</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="~/Gym/img/award.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Gym Award Section End -->
    <!-- Banner Section Begin -->
    <section class="banner-section set-bg" data-setbg="https://www.azureazure.com/wp-content/uploads/2016/07/Om-Prana-2.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <div class="banner-text">
                        <h2>Huzur ve Esneklik İçİn Hazır mısınız?</h2>
                        <p>
                            Deneyimli eğitmenlerimiz eşliğinde zihninizi sakinleştirirken bedeninizi güçlendirin.
                        </p>
                        <a href="/Contact/Index/" class="primary-btn banner-btn">Kaydol</a>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="footer-banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-banner-item set-bg" data-setbg="https://mir-s3-cdn-cf.behance.net/project_modules/1400/770d1765095871.5ae8aa04dd783.jpg">
                        <span>ÜYE OL</span>
                        <h2>Antrenörünle Tanış</h2>
                        <p>Crossfit ile sınırlarınızı zorlayın, güçlü bir vücut ve ruh için bugün kaydolun!</p>
                        <a href="/Contact/Index/" class="primary-btn">Hemen Başla</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer-banner-item set-bg" data-setbg="https://www.iyihisset.com/sites/default/files/inline/images/aletli_pilates.jpg">
                        <span>BİZİMLE İLETİŞİME GEÇ</span>
                        <h2>09 746 204</h2>
                        <p>Plates ile tanışın, sağlıklı bir yaşama ilk adımı atın!</p>
                        <a href="/Contact/Index/" class="primary-btn">Hemen Başla</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>

