@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/IULayout.cshtml";
}


<section class="membership-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>ANTRENÖRLER</h2>
                </div>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-lg-4">
                    <div class="membership-item">

                        <div class="mi-title">
                            <h4>@item.Branch</h4>
                            <div class="triangle"></div>
                        </div>
                        <h2>FOTO</h2>
                        <ul>
                            <li>
                                <span>@item.Description</span>
                            </li>
                            <li>
                                <span>@item.Name @item.Surname</span>
                            </li>
                        </ul>
                        
                        <a href="/Trainer/TrainerDetails/@item.Id" class="primary-btn membership-btn">İletişime Geç</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
