<aside id="sidebar" class="bg-side-nav w-1/2 md:w-1/6 lg:w-1/6 border-r border-side-nav hidden md:block lg:block">

    <ul class="list-reset flex flex-col">
        <li class=" w-full h-full py-3 px-2 border-b border-light-border bg-white">
            <a href="/Trainer/Dashboard/Index/"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                Dashboard
                <span><i class="fas fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a href="/Trainer/Blog/AddBlog/"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fab fa-wpforms float-left mx-2"></i>
                Blog Ekle
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a href="/Trainer/Blog/ListBlogs/"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fab fa-wpforms float-left mx-2"></i>
                Blogları Listele
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a href="/Trainer/Training/Index/"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fab fa-wpforms float-left mx-2"></i>
                Antreman Listesi
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a href="/Trainer/Training/PersonalTrainingList/"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fab fa-wpforms float-left mx-2"></i>
               Kişisel Antreman Listesi
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a href="/Trainer/Classes/AddClass/"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fas fa-table float-left mx-2"></i>
                Ders Ekle
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a href="/Trainer/Classes/ListClass/"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fas fa-table float-left mx-2"></i>
                Dersleri Listele
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a href="/Trainer/Profile/Index/"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                <i class="fab fa-uikit float-left mx-2"></i>
                Profil
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>
        <li class="border-t mt-2 bg-success border-bg-success-dark w-full h-full px-2 py-3">
            <a href="/Default/Index" class="mx-4 font-sans font-normal hover:font-medium text-base text-nav-item no-underline">
                Siteye Git
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>

        <li class="border-t mt-2 border-light-border w-full h-full px-2 py-3 bg-red-vibrant">
            <a href="/Login/Logout" class="mx-4 font-sans font-normal hover:font-medium text-base text-nav-item no-underline">
                Çıkış Yap
                <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
        </li>

</aside>