@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main class="container py-4">


    <div class="card mb-4 bg-transparent border-0">
        <div class="card-body d-flex align-items-center justify-content-center p-0">
            <img src="~/Gym/img/acesloggo.png" class="mr-3 img-fluid" alt="Logo" style="max-width: 150px;">
            <h2 class="card-title"></h2>
        </div>
    </div>
    <hr />
    <br />
    @await Component.InvokeAsync("_LastTrainerDashboard")

    <br />

    @await Component.InvokeAsync("_LastClassesDashboard")

    <br />

</main>
