
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<main class="container py-4">
    <!-- Antrenör Tablosu -->
    <section>
        <h2>Antrenörler</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>E-posta</th>
                </tr>
            </thead>
            <tbody>
                <!-- Antrenörlerin Listesi Buraya Gelecek -->
            </tbody>
        </table>
    </section>

    <!-- Dersler Tablosu -->
    <section>
        <h2>Dersler</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ders Adı</th>
                    <th>Öğrenci Sayısı</th>
                </tr>
            </thead>
            <tbody>
                <!-- Derslerin Listesi Buraya Gelecek -->
            </tbody>
        </table>
    </section>

    <!-- Antrenmanlar Tablosu -->
    <section>
        <h2>Antrenmanlar</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Antrenman Adı</th>
                    <th>Tarih</th>
                    <th>Süre</th>
                </tr>
            </thead>
            <tbody>
                <!-- Antrenmanların Listesi Buraya Gelecek -->
            </tbody>
        </table>
    </section>
</main>
